*{margin: 0; padding: 0;}

/* 
padding: 상하좌우
padding:10px
= (padding-top:10px, padding-right:10px, padding-left:10pxm, padding-bottom:10px)
padding:10px 20px; = 위아래10px 좌우20px
padding:10px 20px 30px; = 위10px 좌우20px 아래30px
padding:10px 20px 30px 40px; = 위10px 우20px 아래30px 좌40px 
*/

/* id를 호출하는 방법
앞에 #을 적고 뒤에는 id이름을 적는다. #이름 
id는 전체사이트에서 이름이 유일해야 함 (반복되면 안됨, 같은 이름이 있으면 안됨.)
id가 2개 이상되면 안됨 (ex. id="조상 일번"(x)) */


/* 태그에는 3가지 요소가 있다.
1. block  - 부모의 넓이를 모두 차지, 공간의 개념이 있음
2. inline  - block요소 안에 글자와 같은 성질을 가지는 요소, 공간의 개념 없음
3. inline-block - block요소 안에 글자와 같은 성질, 공간의 개념 */

.약::after{content:""; clear: both; display: block;}
#조상{}
#조상 .첫째{background-color: deepskyblue;}

#조상 .둘째{background-color: lightcoral;}
/* ::before, ::after는 css에서 만드는 가상의 공간이며
inline 성질을 가진다. content: "";와 반드시 함께 공존한다. */
#조상 .둘째::before{content: "✨"; background-color: firebrick;}
#조상 .둘째::after{content: "✨";}
#조상 .둘째 em{background-color:peachpuff; width: 200px;}

#조상 .셋째{background-color: teal;
margin-top: 50px; width: 1000px;
margin-left: auto; margin-right: auto;
}
#조상 .셋째 .세일{background-color: slateblue; width: 300px; float: left;
}
#조상 .셋째 .세이{background-color: olivedrab; width: 300px; float: left;
}
#조상 .셋째 .세삼{background-color: tomato; width: 300px; float: left;
}


#조상 .넷째{background-color: thistle; 
    width: 1245px; 
    /* margin-top: 50px;
    margin-left: auto;
    margin-right: auto; */
    margin: 50px auto 0;


}
#조상 .넷째 .child{width: 300px; height: 200px;
    float: left; margin-right: 15px;
    text-align: center; /* 글자의 정렬 */
    line-height: 200px; /* 행간 */
    font-size: 25px; /* 글자의 크기 - 기본값 16px, 10px 이하는 적용X */
    font-weight: bold; /* 글자의 굵기 */
}
#조상 .넷째 .네일{background-color: #83A2FF; 
background-image: url(../img/img1.png);
}
#조상 .넷째 .네이{background-color: #B4BDFF;
background-image: url(../img/img2.png);}
#조상 .넷째 .네삼{background-color: #FFE3BB; 
background-image: url(../img/img3.png);
transition: 0.3s;
}
#조상 .넷째 .네삼:hover{
    background-image: url(../img/img4.png); 
}
#조상 .넷째 .네사{background-color: #FFD28F; margin-right: 0;
background-image: url(../img/img4.png);}